<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <%- include('header') %>

    <label for="current-password">current password:</label>
    <input type="password" id="current-password" name="current-password" value="admin"><br><br>
    <label for="new-password">new password:</label>
    <input type="password" id="new-password" name="new-password" value="admin"><br><br>
    <label for="confirm-password">confirm password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="change-password">change password</button>
    <% if (user && user.verified) { %>
    <p>or:</p>
    <button id="send-password-reset-link">send password reset link</button>
    <% } %>

    <%- include('footer') %>

    <script src="/js/change-password/changePassword.js"></script>
    <% if (user && user.verified) { %>
    <script src="/js/change-password/sendPasswordResetLink.js" email="<%= user.email %>"></script>
    <% } %>
</body>

</html>
