<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <label for="email">Verified Email:</label>
    <input type="text" name="email" id="email" value="admin@admin.com"><br><br>
    <button id="send-password-reset-link">Send Link</button>
    <a href="/login">Back</a>

    <%- include('footer') %>

    <script src="/js/forgot-password/sendPasswordResetLink.js"></script>
</body>

</html>
