<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <label for="email">Verified Email:</label>
    <input type="text" name="email" id="email" value="admin@admin.com"><br><br>
    <button id="send-password-reset-link">Send Link</button>
    <a href="/login">Back</a>

    <script src="/js/forgot-password/sendPasswordResetLink.js"></script>
</body>

</html>
