<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="admin"><br><br>
    <button id="send-link">Send Link</button>

    <script>
        document.getElementById('send-link').onclick = () => {
            fetch('/send-link', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                }),
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
        };
    </script>
</body>

</html>
