<nav>
    <a href="/">Home</a> |
    <% if (user) { %>
    <% if (user.roles.includes('admin')) { %>
    <a href="/admin/add-post">Add Post</a> |
    <a href="/admin/images">Images</a> |
    <a href="/admin/add-image">Add Image</a> |
    <% } %>
    <a href="javascript:logout();">Logout</a>
    <% } else { %>
    <a id="register-link">Register</a> |
    <a id="login-link">Login</a>
    <% } %>
</nav>

<script>
    // <% if (user) { %>
    function logout() {
        fetch(`/logout`, {
            method: 'POST',
        }).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        });
    }
    //<% } else { %>
    document.getElementById('register-link').href = `/register?returnurl=${window.location.href}`;
    document.getElementById('login-link').href = `/login?returnurl=${window.location.href}`;
    // <% } %>
</script>
