<header>
    <h1>daviskauffmann</h1>
    <nav>
        <a href="/">home</a> |
        <% if (user) { %>
        <% if (user.roles.includes('admin')) { %>
        <a href="/admin/users">users</a> |
        <a href="/admin/new-post">new post</a> |
        <a href="/admin/images">images</a> |
        <a href="/admin/new-image">new image</a> |
        <% } %>
        <a href="/change-password">change password</a> |
        <a id="logout" href="/">logout</a>
        <% } else { %>
        <a href="/register">register</a> |
        <a id="login">login</a>
        <% } %>
    </nav>
</header>

<% if (user) { %>
<script src="/js/header/logout.js"></script>
<% } else { %>
<script src="/js/header/login.js"></script>
<% } %>
