<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('header') %>

    <% if (user) { %>
    <h1>Welcome back, <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome!</h1>
    <% } %>

    <ul>
        <% for(let i = 0; i < posts.length; i++) { %>
        <li>
            <a href="/posts/<%= posts[i].slug %>"><%= posts[i].title %></a>
        </li>
        <% } %>
    </ul>
</body>

</html>
