<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="admin"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="admin"><br><br>
    <button id="login">Login</button>
    <a href="/">Back</a>
    <br>
    <a href="/forgot-password">Forgot Password</a>

    <script>
        document.getElementById('login').onclick = () => {
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value,
                }),
            }).then(response => {
                if (response.status === 200) {
                    const urlParams = new URLSearchParams(window.location.search);
                    if (urlParams.has('returnurl')) {
                        window.location.href = urlParams.get('returnurl')
                    } else {
                        window.location.href = '/';
                    }
                }
            });
        };
    </script>
</body>

</html>
