<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <%- include('header') %>

    <input type="file" id="file" name="file">
    <button id="upload">upload</button>

    <%- include('footer') %>

    <script src="/js/new-image/upload.js"></script>
</body>

</html>
