<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('header') %>

    <div id="post"></div>

    <% if (user) { %>
    <% if (user.verified) { %>
    <button id="comment">Comment</button>
    <% if (user.roles.includes('admin')) { %>
    <button id="edit">Edit</button>
    <button id="delete">Delete</button>
    <% } %>
    <% } %>
    <% } %>

    <%- include('footer') %>

    <script src="/js/post/marked.js"></script>
    <script src="/js/post/post.js" content="<%= post.content %>"></script>
    <% if (user) { %>
    <% if (user.verified) { %>
    <script src="/js/post/comment.js"></script>
    <% if (user.roles.includes('admin')) { %>
    <script src="/js/post/edit.js"></script>
    <script src="/js/post/delete.js"></script>
    <% } %>
    <% } %>
    <% } %>
</body>

</html>
