<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <label for="username">username:</label>
    <input type="text" id="username" name="username" value="admin"><br><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" value="admin@admin.com"><br><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" value="admin"><br><br>
    <label for="confirm-password">confirm password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="register">register</button>
    <a href="/">back</a>

    <%- include('footer') %>

    <script src="/js/register/register.js"></script>
</body>

</html>
