<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="new-password" value="admin"><br><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="reset-password">Reset Password</button>

    <%- include('footer') %>

    <script src="/js/reset-password/resetPassword.js"></script>
</body>

</html>
