<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('header') %>

    <label for="current-password">Current Password:</label>
    <input type="password" id="current-password" name="current-password" value="admin"><br><br>
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="new-password" value="admin"><br><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="reset-password">Reset Password</button>
    <br>
    <p>OR:</p>
    <button id="send-link">Send Password Reset Link</button>

    <script>
        document.getElementById('reset-password').onclick = () => {
            const newPassword = document.getElementById('new-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            if (newPassword !== confirmPassword) {
                console.error('Passwords do not match');
                return;
            }
            fetch(`/reset-password${window.location.search}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    currentPassword: document.getElementById('current-password').value,
                    newPassword,
                }),
            }).then(response => {
                window.location.href = '/';
            });
        };

        document.getElementById('send-link').onclick = () => {
            fetch('/send-link', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: '<%= user.username %>',
                }),
            }).then(response => {
                window.location.href = '/';
            });
        };
    </script>
</body>

</html>
