<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="new-password" value="admin"><br><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="reset-password">Reset Password</button>

    <script src="/js/reset-password/resetPassword.js"></script>
</body>

</html>
