<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="admin"><br><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" value="admin"><br><br>
    <button id="reset-password">Reset Password</button>

    <script>
        document.getElementById('reset-password').onclick = () => {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            if (password !== confirmPassword) {
                console.error('Passwords do not match');
                return;
            }
            fetch(`/reset-password-from-email${window.location.search}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    password,
                }),
            }).then(response => {
                window.location.href = '/';
            });
        };
    </script>
</body>

</html>
